In [3]:
import pandas as pd

In [4]:
#Series
ser = pd.Series([1,3,5,7], index=['a','b','c','d'])

ser

a    1
b    3
c    5
d    7
dtype: int64

In [5]:
#Series with dictionary 

ser = pd.Series({'a':1,'b':2,'c':3,'d':4})

ser

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
ser = pd.Series({'0':7,'1':9,'2':8,'3':3})

ser

0    7
1    9
2    8
3    3
dtype: int64

In [7]:
# to get value 5 from series

print(ser[2]) # by number index
print(ser['c']) #label

# to get value 3 and 5 
print(ser[1:3])  #by number index
print(ser["b":"c"])

C:\Users\23001204\AppData\Local\Temp\ipykernel_2072\3836701519.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ser[2]) # by number index

8

KeyError: 'c'

In [ ]:
# indexer 
#1 .loc is used to access elements with labels
print(ser.loc['c':'d'])

#1/2 .iloc is used to access elements with integer lavels
print(ser.iloc[1:2])

c    5
d    7
dtype: int64
b    3
dtype: int64

In [ ]:
# DataFrame

df = pd.DataFrame([[1,3,4,6],[5,8,9,2]],columns=['w','x','c','d'])

df

   w  x  c  d
0  1  3  4  6
1  5  8  9  2

In [ ]:
# DataFrame with dicitionary

df = pd.DataFrame({'w':[1,5],"x":[3,8],"c":[4,9],"d":[6,2]})

df

   w  x  c  d
0  1  3  4  6
1  5  8  9  2

In [8]:
# to get the first row 

print(df.loc[0])
print(df.loc[0:1])         #use label, the second index is included

print(df.iloc[0])
print(df.iloc[0:1])        #use integer index, the second index is EXCLUDED

NameError: name 'df' is not defined

NameError: name 'df' is not defined

In [ ]:
# to get column 'c'

#first way
print(df['c'])

#second way 
print(df.loc[:,['c']])   # [rows,columns]

#third way uses .iloc
df.iloc[:,[2]]   #[rows, columns]

0    4
1    9
Name: c, dtype: int64
   c
0  4
1  9

   c
0  4
1  9

In [ ]:
print(df)

# to get the value 3 & 4 
print(df.loc[0,['x','c']])
print(df.iloc[0,[1,2]])

# to get the value 4,6,9,2
print(df.loc[0:1,["c","d"]])
df.iloc[0:2,[2,3]]

   w  x  c  d
0  1  3  4  6
1  5  8  9  2
x    3
c    4
Name: 0, dtype: int64
x    3
c    4
Name: 0, dtype: int64
   c  d
0  4  6
1  9  2

   c  d
0  4  6
1  9  2

In [ ]:
df.dropna(inplace=True)

In [ ]:
df_new = df.dropna()

df_new.info()

In [ ]:
df.fillna(300,inplace=True)