In [1]:
#Create using dictoonary

import pandas as pd
dict = {"student_ID":[230212345,23018765,23013456,23019876],
        "CA1":[ 45,55,85,70],
        "CA2":[50,60,95,75] }
 
df_student = pd.DataFrame(dict)
 
student1=  pd.DataFrame({"student_ID":[23065432,23032109],
                         "CA1":[15,-5],
                         "CA2":[20,80]})
 

#joining 
df3 = pd.concat([df_student,student1],ignore_index=True)

In [2]:
import pandas as pd
dict = {"student_ID":[230212345,23018765,23013456,23019876],
        "CA1":[ 45,55,85,70],
        "CA2":[50,60,95,75] }
 
df_student = pd.DataFrame(dict)

df_student


use an indexter to access elements in the dataframe

   student_ID  CA1  CA2
0   230212345   45   50
1    23018765   55   60
2    23013456   85   95
3    23019876   70   75